.container {
    display: flex;
}

.login_content {
    width: 30%;
    margin: auto;
}

.image_container {
    padding-top: 6vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 5%;
}

.heading-title {
    font-size: 36px;
    font-weight: bold;
}

.input {
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid #CFDFE2;
}

.w-100 {
    width: 100%
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.black {
    color: #0C1421;
}

img {
    max-height: 80vh;
    width: 80vh
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Roboto;
}

.align-center {
    text-align: center;
}

.hr-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.hr-with-text::before,
.hr-with-text::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #CFDFE2;
    margin: 0 10px;
}

.hr-with-text span {
    padding: 0 10px;
}

.btn {
    width: 100%;
    border-radius: 5px;
}

.btn_socialmedia {
    padding: 10px;
    background: #f3f9fa;
    color: black;
    margin-top: 10px;
    border: none;
}

.p_font {
    font-size: 16px;
}

.btn_icon {
    height: 28px;
    width: 28px;
    padding-right: 5px;
}

.copyright_text {
    width: 30%;
    font-size: 14px;
    margin: 20px auto;
}

.mobile_login_img {
    display: none;
}

@media (min-width: 501px) and (max-width: 820px) {
    .container {
        display: block;
    }

    .login_content {
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
    }

    .image_container {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright_text {
        width: 90%;
        font-size: 12px;
    }

    .heading-title {
        font-size: 24px;
        font-weight: bold;
    }

    .p_font {
        font-size: 14px;
    }

}

@media (max-width:500px) {
    .container {
        display: block;
    }

    .login_content {
        grid-template-columns: 1fr;
        width: 90%;
        margin: auto;
    }

    .mobile_login_img {
        display: block;
        max-width: 400px;
        margin: 5px auto;
    }

    .image_container {
        display: none;

    }

    .copyright_text {
        width: 90%;
        margin: 15px auto 20px auto;
        font-size: 12px;
    }

    .heading-title {
        font-size: 24px;
        font-weight: bold;
    }

    .p_font {
        font-size: 14px;
    }

}